html {  
    transition: 0.4s;       /*Agar transisi pergantian dark mode smooth*/
}

.darkmode {                /*Style dark mode*/
    background: #2a2a39;
    color: white;
}

.toggle {
    width: 25px;
    height: 25px;
    border-radius: 30px;
    font-size: 16px;
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;
    background: black;
    color: white;
}

.circle {
    width: 20px;
    height: 20px;
    transform: translateX(2px);
    border-radius: 30px;
    transition: 0.4s;
    position: absolute;
    background: white;
}

.dark-mode .circle {
    transform: translateX(23px)
}

.toggle-moon, .toggle-sun {
    width: 50%;
}
